@import 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css';
.header {
    width: 100%;
}

.container {
    margin: 0 5rem;
}

.navbar {
    width: 100%;
    height: 8rem;
    background-color: #fff;
    position: fixed;
    z-index: 500;
    top: 0;
    left: 0;
}

.side-nav-icons {
    margin: 0 5rem;
    height: 8rem;
    position: relative;
    display: none;
}

.open-slide .fas {
    color: black;
    font-size: 3.5rem;
    position: absolute;
    top: 50%;
    left: 3%;
    transform: translateY(-50%);
}

.side-nav-icons img {
    width: 4rem;
    float: right;
    position: absolute;
    top: 50%;
    right: 3%;
    transform: translateY(-50%);
}

#side-menu {
    width: 0;
    height: 100vh;
    background-color: #242424;
    position: fixed;
    top: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all ease .3s;
}

#side-links {
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity ease .3s;
}

.bottom-links {
    display: flex;
    position: absolute;
    bottom: 15%;
    left: -5rem;
}

.bottom-links select {
    margin-right: 1rem;
    color: #fff;
}

.bottom-links i {
    padding: 0px 2rem;
    font-size: 3rem;
    color: #fff;
}

#side-menu a {
    color: #fff;
    font-size: 2rem;
}

.side-nav a:hover {
    color: #2E395A;
}

.btn-close {
    position: absolute;
    top: 2rem;
    right: 2rem;
}

.all-links {
    display: flex;
    justify-content: space-between;
    height: 8rem;
}

.main-links {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
}

.main-links li {
    display: inline-block;
    padding: 3rem 2rem;
}

.main-links img {
    width: 4rem;
    margin-right: 1.5rem;
}

.main-links a {
    text-decoration: none;
    color: #242424;
}

.secondary-links {
    display: flex;
    align-items: center;
}

.secondary-links select {
    margin-right: 1rem;
}

.secondary-links i {
    padding: 0px 2rem;
    font-size: 3rem;
    color: #242424;
}

.hide {
    display: none;
}

.hidden {
    opacity: 0;
}

@media only screen and (max-width: 800px) {
    .all-links {
        display: none;
    }
    .side-nav-icons {
        display: block;
    }
}