form {
    margin: 16rem auto 0 auto;
    width: 80%;
    height: 60rem;
    max-width: 100rem;
    background-color: #242424;
    padding: 3rem 4rem;
    border-radius: 1rem;
    text-align: center;
    position: relative;
}

form h1 {
    color: #fff;
    margin-bottom: 5rem;
}

.form-field {
    margin: 2rem 0;
    padding: 1.2rem 1.8rem;
    border-radius: .8rem;
    background-color: black;
    border: 1px solid #999;
}

.form-field label {
    display: block;
    text-align: left;
    color: #999;
    font-size: 1.4rem;
}

.form-field input, .form-field textarea {
    width: 100%;
    border: none;
    background: none;
    outline: none;
    resize: none;
    color: white;
    font-size: 1.5rem;
}

.submit {
    position: absolute;
    left: 50%;
    bottom: 4%;
    transform: translateX(-50%);
    padding: 1.5rem 3rem;
    border: 1px solid #999;
    color: #fff;
    background: none;
    font-size: 1.5rem;
    transition: background-color .3s;
}

.submit:hover {
    background-color: black;
}

#error_message {
    padding: 0;
    text-align: center;
    background-color: #fe8b8e;
    font-size: 1.4rem;
    transition: all .3s ease;
}

#FAQ {
    margin: 8rem auto;
    width: 80%;
}

#FAQ h2 {
    font-size: 4rem;
    text-align: center;
    margin-bottom: 4rem;
}

#FAQ h3 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

#FAQ .question {
    color: #333;
    font-size: 1.6rem;
    margin-bottom: .5rem;
    text-transform: uppercase;
}

#FAQ .answer {
    color: black;
    font-size: 1.2rem;
    text-transform: lowercase;
}

#FAQ div {
    margin-bottom: 2rem;
    padding: 1rem;
}