@import url('https://fonts.googleapis.com/css?family=Montserrat:500|Passion+One&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: 'Montserrat', Helvetica, sans-serif;
}

body {
    background-color: #e7e7e7;
}

img {
    width: 100%;
    max-width: 100%;
}

a {
    text-decoration: none;
}